---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<div class="middle"><h1></h1><h1>&#128679; Under Construction &#128679;</h1></div> <!-- AHAMA I am adding this so that I can remove it later. Do not forget to remove the same comment from CV section. -->

{% if false %} <!-- AHAMA I am adding this so that I can remove it later. Do not forget to remove the same comment from CV section. -->

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}

{% endif %} <!-- AHAMA I am adding this so that I can remove it later. Do not forget to remove the same comment from CV section. -->
